@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Class name for the drop placeholder */
.sortable-ghost {
  opacity: 0.4;
  border: 2px dashed #ccc;
}

/* Class name for the chosen item */
.sortable-chosen {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #bada55;
}

/* Class name for the dragging item */
.sortable-drag {
  opacity: 0.8;
  border: 2px solid #007bff;
  transform: rotate(-3deg);
}
